body {
  height: 1000px;
  display: flex;
  /* overflow: hidden; */
  margin: 0px;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 250px;
  background-color: darkgrey;
  font-family: 'Roboto', sans-serif;
}



/*--HEADER-----------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 75px;
  background-color: #1F2937;
  /* background-color: aqua; */
}

.header-logo {
  color: #F9FAF8;
  margin: 0;
  font-size: 24px;
  /* background: darkcyan; */
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  /* background: darkcyan; */
}

a {
  color: #F9FAF8;
  font-size: 18px;
  text-decoration: none;
}

/*--HERO BOX-----------------------*/

.hero-box {
  display: flex;
  flex: 1;
  padding: 60px 75px;
  color: white;
  background-color: #1F2937;
}

.hero-box-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px 20px 12px 0px;
  margin: 0px;
  gap: 4px;
  /* background-color: darkblue; */
}

.hero-box-right {
  display: flex;
  flex: 1;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0px;
  /* background-color: red; */
}

#hero-secondary-text {
  /* background-color: red; */
  margin: 0px;
  color: #E5E7EB;
  font-size: 18px;
}

#hero-button {
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  padding: 4px 0px;
  color: #F9FAF8;
  background-color: #3882F6;
}

/*--INFO BOX-----------------------*/

.info-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px 75px 60px 75px;
  gap: 30px;
  background-color: white;
}

#info-box-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  /* background-color: darkcyan; */
  margin: 0;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 55px;
  /* background-color: darkkhaki; */
}

.full-mini-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 115px;
  gap: 7px;
  /* background-color: brown; */
}

.mini-box-only {
  width: 115px;
  height: 115px;
  border-radius: 8px;
  border: 3px solid #3882F6;
}

.mini-box-text {
  text-align: center;
  font-size: 12px;
}

/*--QUOTE BOX-----------------------*/

.quote-box {
  display: flex;
  flex: 1;
  background-color: #b3edb3;
}

/*--SIGN-UP BOX-----------------------*/

.sign-up-box {
  display: flex;
  flex: 1;
  background-color: lightyellow;
}

/*--FOOTER-----------------------*/

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  height: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}