body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  margin: 0px;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*--HEADER-----------------------*/

.header {
  height: 50px;
  /* padding: 20px; */
  background-color: aqua;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937
}

.website-name{
  color: #F9FAF8;
  font-size: 24px;
  background: darkcyan;
}

.header-links {
  display: flex;
  gap: 10px;
  color: #F9FAF8;
  font-size: 12px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  background: darkcyan;
}

/*--HERO BOX-----------------------*/

.hero-box {
  display: flex;
  padding: 15px 0px 15px 0px;
  color: white;
  background-color: lightpink;
}

.hero-box-left {
  display: flex;
  flex: 1;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
  background-color: darkblue;
}

.hero-box-right {
  display: flex;
  flex: 1;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#hero-main-text {
  margin: 0px;
  background-color: red;
}

#hero-secondary-text {
  margin: 0px;
  background-color: red;
}

#hero-button {

  color: #F9FAF8;
  background-color: #3882F6;
}

/*--INFO BOX-----------------------*/

.info-box {
  display: flex;
  flex: 1;
  background-color: lightblue;
}

/*--QUOTE BOX-----------------------*/

.quote-box {
  display: flex;
  flex: 1;
  background-color: #b3edb3;
}

/*--SIGN-UP BOX-----------------------*/

.sign-up-box {
  display: flex;
  flex: 1;
  background-color: lightyellow;
}

/*--FOOTER-----------------------*/

.footer {
  background-color: #1F2937;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted red;
}